<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>{{ usuario['Nombre'] }} {{ usuario['Apellido'] }} - {{ usuario['Tipo_Usuario'] }}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('index') }}">TaskLink</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('solicitudes') }}">Mis solicitudes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('postulaciones') }}">Mis postulaciones</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('perfil') }}">Perfil <span class="sr-only">(actual)</span></a>
                </li>
            </ul>
            <form action="{{ url_for('logout') }}" method="post" class="form-inline">
                <button type="submit" class="btn btn-danger">Cerrar sesión</button>
            </form>
        </div>
    </nav>

    <div class="container mt-5">
        <h1 class="text-center mb-4">{{ usuario['Nombre'] }} {{ usuario['Apellido'] }} - {{ usuario['Tipo_Usuario'] }}
        </h1>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-body text-center">
                        {% if imagen_base64 %}
                        <img src="data:image/png;base64,{{ imagen_base64 }}" alt="Imagen de usuario"
                            class="rounded-circle img-thumbnail mb-4"
                            style="width: 150px; height: 150px; object-fit: cover;">
                        {% else %}
                        <img src="https://via.placeholder.com/150" alt="No hay imagen disponible"
                            class="rounded-circle img-thumbnail mb-4">
                        {% endif %}
                        <h5 class="card-title">{{ usuario['Nombre'] }} {{ usuario['Apellido'] }}</h5>
                        <p class="card-text"><strong>Tipo de usuario:</strong> {{ usuario['Tipo_Usuario'] }}</p>
                        <p class="card-text"><strong>Estado:</strong>
                            <span
                                class="badge {{ 'bg-success text-white' if usuario['Estado_Usuario'] == 'ACTIVO' else 'bg-danger text-white' }}">
                                {{ usuario['Estado_Usuario'] }}
                            </span>
                        </p>
                        <p class="card-text"><strong>Cédula:</strong> {{ usuario['Cedula'] }}</p>
                        <p class="card-text"><strong>Correo:</strong> {{ usuario['Correo'] }}</p>
                        <p class="card-text"><strong>Celular:</strong> {{ usuario['Celular'] }}</p>
                        <p class="card-text"><strong>Ciudad:</strong> {{ usuario['Ciudad'] }}</p>
                        <p class="card-text"><strong>Fecha de Creación:</strong> {{ usuario['Fecha_creacion'] |
                            format_date }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer class="text-center mt-5 mb-3">
        <p>&copy; {{ current_year }} TaskLink. Todos los derechos reservados.</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>