<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registrarse - TaskLink</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="icon" type="image/ico" href="../static/images/LogoSF.ico">
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <style>

    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <!-- Logo y enlace a la izquierda -->
            <div class="d-flex align-items-center">
                <a class="navbar-brand" href="{{ url_for('index') }}">
                    <img src="../static/images/LogoCompleto.png" alt="TaskLink Logo" width="200px">
                </a>
                <a class="btn btn-outline-primary mr-2" href="{{ url_for('agregar_solicitud') }}">Postear una tarea</a>
                <a class="btn btn-outline-primary" href="{{ url_for('tareas') }}">Tareas disponibles</a>
            </div>

            <!-- Imagen de perfil y nombre a la derecha -->
            <div class="d-flex align-items-center">
                {% if imagen_base64 %}
                <span class="mr-3 h4">{{ usuarios['Nombre'] }} {{ usuarios['Apellido'] }}</span>
                <div class="btn-group dropstart">
                    <img src="data:image/png;base64,{{ imagen_base64 }}" alt="Imagen de perfil" class="rounded-circle"
                        style="width: 50px; height: 50px; cursor: pointer;" data-toggle="dropdown" aria-expanded="false">
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="{{ url_for('profile') }}">Perfil</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('logout') }}">Cerrar sesión</a></li>
                    </ul>
                </div>
                {% else %}
                <form class="d-flex justify-content-end">
                    <a class="btn btn-primary mr-2" href="{{ url_for('login') }}">Iniciar sesión</a>
                </form>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <h2 class="text-center">Crear una cuenta en TaskLink</h2>
        <form id="registerForm" action="/register" method="POST" enctype="multipart/form-data" class="mt-4">
            <div class="form-group position-relative">
                <label for="name">Nombre</label>
                <i class="fa fa-user input-icon-register"></i>
                <input type="text" class="form-control" id="name" name="name" placeholder="Ingresa tu nombre" required />
            </div>

            <div class="form-group position-relative">
                <label for="apellido">Apellido</label>
                <i class="fa fa-user input-icon-register"></i>
                <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Ingresa tu apellido" required />
            </div>

            <div class="form-group position-relative">
                <label for="identification">Número de identificación</label>
                <i class="fa fa-id-card input-icon-register"></i>
                <input type="text" class="form-control" id="identification" name="identification"
                    placeholder="Ingresa tu número de identificación" required />
            </div>

            <div class="form-group position-relative">
                <label for="id_file">Archivo de identificación</label>
                <i class="fas fa-file-alt input-icon-register"></i>
                <input type="file" class="form-control-file" id="id_file" name="id_file" accept=".jpg,.jpeg,.png,.pdf" required />
            </div>

            <div class="form-group position-relative">
                <label for="profile_file">Foto de Perfil</label>
                <i class="fas fa-image input-icon-register"></i>
                <input type="file" class="form-control-file" id="profile_file" name="profile_file" accept=".jpg,.jpeg,.png,.pdf" required />
            </div>

            <div class="form-group position-relative">
                <label for="email">Correo electrónico</label>
                <i class="fas fa-envelope input-icon-register"></i>
                <input type="email" class="form-control" id="email" name="email" placeholder="Ingresa tu correo electrónico" required />
            </div>

            <div class="form-group position-relative">
                <label for="address">Dirección</label>
                <i class="fas fa-map-marker-alt input-icon-register"></i>
                <input type="text" class="form-control" id="address" name="address" placeholder="Ingresa tu dirección" required />
            </div>

            <div class="form-group">
                <label for="city">Ciudad</label>
                {% if ciudades %}
                <select class="form-control" id="city" name="city" required>
                    {% for ciudad in ciudades %}
                    <option value="{{ ciudad['ID_ciudad'] }}">{{ ciudad['Nombre'] }}</option>
                    {% endfor %}
                </select>
                {% else %}
                <option value="0">No hay ciudades disponibles</option>
                {% endif %}
            </div>

            <div class="form-group position-relative">
                <label for="phone">Teléfono</label>
                <i class="fas fa-phone input-icon-register"></i>
                <input type="text" class="form-control" id="phone" name="phone" placeholder="Ingresa tu número de teléfono" required />
            </div>

            <!-- Contraseña -->
            <div class="mb-3 position-relative">
                <label for="password" class="form-label">Contraseña</label>
                <i class="fas fa-lock input-icon-register"></i>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>

            <!-- Confirmar Contraseña -->
            <div class="mb-3 position-relative">
                <label for="confirm_password" class="form-label">Confirmar Contraseña</label>
                <i class="fas fa-lock input-icon-register"></i>
                <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
            </div>

            <!-- Mensaje de error -->
            <div id="error-message" class="alert alert-danger" style="display: none;">
                Las contraseñas no coinciden.
            </div>

            <button type="submit" class="btn btn-primary btn-block mt-3 mb-5">
                Registrarse
            </button>
        </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        document.getElementById('registerForm').addEventListener('submit', function (event) {
            event.preventDefault();  // Evita la recarga de la página

            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirm_password').value;

            if (password !== confirmPassword) {
                document.getElementById('error-message').style.display = 'block';  // Mostrar mensaje de error
                document.getElementById('password').value = '';  // Limpiar campo de contraseña
                document.getElementById('confirm_password').value = '';  // Limpiar campo de confirmación
            } else {
                document.getElementById('error-message').style.display = 'none';  // Ocultar mensaje de error si no existe
                this.submit();  // Si las contraseñas coinciden, envía el formulario
            }
        });
    </script>
</body>

</html>
