<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TaskLink</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link rel="icon" type="image/ico" href="../static/images/LogoSF.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Toastify/1.11.2/Toastify.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <a class="navbar-brand" href="{{ url_for('index') }}">
                    <img src="../static/images/LogoCompleto.png" alt="TaskLink Logo" width="200px">
                </a>
                <a class="btn btn-outline-primary mr-2" href="{{ url_for('agregar_solicitud') }}">Postear una tarea</a>
                {% if usuarios['ID_tipo_usuario'] == 2 %}
                <a class="btn btn-outline-primary" href="{{ url_for('admin') }}">Administrar</a>
                {% endif %}
            </div>

            <div class="d-flex align-items-center">
                {% if imagen_base64 %}
                <span class="mr-3 h4">{{ usuarios['Nombre'] }} {{ usuarios['Apellido'] }}</span>
                <div class="btn-group dropstart">
                    <img src="data:image/png;base64,{{ imagen_base64 }}" alt="Imagen de perfil" class="rounded-circle"
                        style="width: 50px; height: 50px; cursor: pointer;" data-toggle="dropdown"
                        aria-expanded="false">
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="{{ url_for('profile') }}">Perfil</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('logout') }}">Cerrar sesión</a></li>
                    </ul>
                </div>
                {% else %}
                <form class="d-flex justify-content-end">
                    <a class="btn btn-primary mr-2" href="{{ url_for('login') }}">Iniciar sesión</a>
                    <a class="btn btn-info ml-2" href="{{ url_for('register') }}">Registrarse</a>
                </form>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <h2>Todas las Tareas</h2>

        <form method="GET" class="mb-3">
            <div class="form-row align-items-end">
                <div class="col-auto">
                    <label for="categoria">Categoría:</label>
                    <select name="categoria" id="categoria" class="form-control" onchange="this.form.submit()">
                        <option value="">Selecciona una categoría</option>
                        {% for categoria in categorias %}
                        <option value="{{ categoria['ID_categoria'] }}" {% if
                            categoria['ID_categoria']==categoria_filtro %}selected{% endif %}>
                            {{ categoria['Nombre'] }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-auto">
                    <label for="estado">Estado:</label>
                    <select name="estado" id="estado" class="form-control" onchange="this.form.submit()">
                        <option value="">Selecciona un estado</option>
                        {% for estado in estados %}
                        <option value="{{ estado['ID_estado_tarea'] }}" {% if estado['ID_estado_tarea']==estado_filtro
                            %}selected{% endif %}>
                            {{ estado['Descripcion'] }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-auto">
                    <label for="orden">Ordenar por:</label>
                    <select name="orden" id="orden" class="form-control" onchange="this.form.submit()">
                        <option value="asc" {% if orden=='asc' %}selected{% endif %}>Ascendente</option>
                        <option value="desc" {% if orden=='desc' %}selected{% endif %}>Descendente</option>
                    </select>
                </div>
                <div class="col-auto">
                    <button type="button" id="resetFilters" class="btn btn-outline-info mt-4">Restablecer
                        Filtros</button>
                </div>
            </div>
        </form>

        <div class="task-list" id="taskList">
            {% if tareas %}
            {% for tarea in tareas %}
            <div class="task-item mb-4 border p-4 rounded shadow-sm">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h3 class="mb-0 text-truncate-2">{{ tarea['Titulo'] }}</h3>

                    <span class="badge custom-badge 
                            {% if tarea['Estado'] == 'Finalizada' %} badge-success
                            {% elif tarea['Estado'] == 'En Proceso' %} badge-primary
                            {% elif tarea['Estado'] == 'Cancelada' %} badge-danger
                            {% else %} badge-secondary
                            {% endif %}
                        ">
                        {{ tarea['Estado'] }}
                    </span>
                </div>

                {% if tarea['Estado'] == 'Finalizada' %}
                <div class="star-rating">
                    {% for i in range(1, 6) %}
                    <label>
                        {% if tarea['ID_creador'] == usuarios['ID_usuario'] %}
                        <input type="radio" name="calificacion-{{ tarea['ID_tarea'] }}" value="{{ i }}" {% if
                            tarea['Calificacion']==i %}checked{% endif %}>
                        {% endif %}
                        <i class="fa fa-star {% if tarea['Calificacion'] >= i %}checked{% endif %} 
                            {% if tarea['ID_creador'] == usuarios['ID_usuario'] %}interactive{% endif %}"
                            data-rating="{{ i }}" data-id="{{ tarea['ID_tarea'] }}"></i>
                    </label>
                    {% endfor %}
                </div>
                {% endif %}


                <div class="d-flex justify-content-between text-muted mb-3">
                    <div>
                        <i class="fa fa-calendar-alt"></i> Creada el:
                        <strong>{{ tarea['Fecha_creacion'] | format_date }}</strong>
                    </div>
                    <div>
                        <i class="fa fa-hourglass-half"></i> Límite:
                        <strong>{{ tarea['Fecha_limite'] | format_date if tarea['Fecha_limite'] else 'No especificada'
                            }}</strong>
                    </div>
                </div>

                <div class="mb-3">
                    <h5 class="text-muted text-truncate-2">Descripción</h5>
                    <p class="text-truncate-2">{{ tarea['Descripcion'] }}</p>
                </div>

                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <p class="mb-0"><i class="fa fa-dollar-sign"></i> Valor: <strong>${{ tarea['Valor'] }}</strong>
                        </p>
                        {% if tarea['Adjuntos'] %}
                        <p class="mb-0 text-blue">
                            <i class="fa fa-paperclip mr-1"></i>
                            <a>Hay archivos adjuntos</a>
                        </p>
                        {% else %}
                        <p class="mb-0 text-muted"><i class="fa fa-paperclip mr-1"></i>No hay adjuntos.</p>
                        {% endif %}
                    </div>
                    <div>
                        <button class="btn btn-sm btn-outline-info ver-detalles" data-id="{{ tarea['ID_tarea'] }}">
                            <i class="fa fa-eye"></i> Ver detalles
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>No hay tareas disponibles.</p>
            {% endif %}
        </div>

        <!-- Modal de confirmación -->
        <div class="modal fade" id="confirmCalificationModal" tabindex="-1" role="dialog"
            aria-labelledby="confirmCalificationModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmCalificationModalLabel">Confirmar calificación</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ¿Estás seguro de que deseas calificar esta tarea con <span id="selectedRating"></span>
                        estrellas?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" id="confirmRatingBtn">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="detalleModal" tabindex="-1" aria-labelledby="detalleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header bg-primary text-white">
                        <h5 class="modal-title" id="detalleModalLabel">Detalles de la Tarea</h5>
                        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h3 id="modalTitulo" class="text-dark"></h3>
                        <p id="modalDescripcion"></p>
                        <p><i class="fa fa-calendar-alt"></i> <strong>Fecha de creación:</strong> <span
                                id="modalFechaCreacion"></span></p>
                        <p><i class="fa fa-hourglass-half"></i> <strong>Fecha límite:</strong> <span
                                id="modalFechaLimite"></span></p>
                        <p><i class="fa fa-dollar-sign"></i> <strong>Valor:</strong> <span id="modalValor"></span></p>

                        <div id="modalAdjuntos" class="mt-3">
                            <h5>Archivos adjuntos:</h5>
                            <div id="adjuntosContainer"></div>
                        </div>

                        <div class="d-grid gap-2">
                            <button id="btnPostularse" type="button"
                                class="btn btn-success w-100 mt-5">Postularse</button>
                            <p id="txtPostularse" class="alert alert-primary mt-5">No te puedes postular porque eres el
                                creador de la tarea.</p>
                            <button id="btnFinalizar" type="button" class="btn btn-primary w-100 mt-5"
                                style="display: none;">Finalizar tarea</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </div>

    <div id="message" class="message" style="display: none;"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        document.getElementById('resetFilters').addEventListener('click', function () {
            document.getElementById('categoria').selectedIndex = 0;
            document.getElementById('estado').selectedIndex = 0;
            document.getElementById('orden').value = 'asc';
            document.querySelector('form').submit();
        });

        var ID_usuario_actual = "{{ usuarios['ID_usuario'] }}";
        var ID_usuario_creador = "{{ tareas['ID_creador'] }}";

        if (ID_usuario_actual == ID_usuario_creador) {
            document.getElementById('btnPostularse').style.display = 'none';
        }
        $(document).ready(function () {
            let tareaId;

            $('.ver-detalles').on('click', function () {
                tareaId = $(this).data('id');

                $.getJSON('/detalles/' + tareaId, function (data) {
                    if (data.error) {
                        alert(data.error);
                    } else {
                        const fechaCreacionFormateada = formatDate(data.fecha_creacion);
                        const fechaLimiteFormateada = formatDate(data.fecha_limite);

                        $('#modalTitulo').text(data.titulo);
                        $('#modalDescripcion').text(data.descripcion);
                        $('#modalFechaCreacion').text(fechaCreacionFormateada);
                        $('#modalFechaLimite').text(fechaLimiteFormateada);
                        $('#modalValor').text(data.valor);

                        if (data.adjuntos && data.adjuntos.length > 0) {
                            $('#modalAdjuntos').html(data.adjuntos.join('<br>'));
                        } else {
                            $('#modalAdjuntos').html('<p>No hay adjuntos disponibles.</p>');
                        }

                        if (data.id_creador === data.usuario_actual) {
                            $('#btnPostularse').hide();
                            $('#btnFinalizar').hide();
                            $('#txtPostularse').text("No puedes postularte porque eres el creador de la tarea.").show();
                        } else if (data.id_trabajador === data.usuario_actual) {
                            if (data.estado_tarea === 3) {
                                $('#btnPostularse').hide();
                                $('#btnFinalizar').hide();
                                $('#txtPostularse').text("La tarea ya la finalizaste.").show();
                            } else {
                                $('#btnPostularse').hide();
                                $('#btnFinalizar').show();
                                $('#txtPostularse').hide();
                            }
                        } else if (data.estado_tarea !== 1) {
                            $('#btnPostularse').hide();
                            $('#btnFinalizar').hide();
                            $('#txtPostularse').text("No puedes postularte porque la tarea no está disponible.").show();
                        } else {
                            $('#btnPostularse').show();
                            $('#btnFinalizar').hide();
                            $('#txtPostularse').hide();
                        }

                        $('#detalleModal').modal('show');
                    }
                });
            });

            function showMessage(message, isError = false) {
                const messageDiv = $('#message');
                messageDiv.text(message);
                messageDiv.toggleClass('error', isError);
                messageDiv.show();

                // Desvanecer el mensaje después de 3 segundos
                setTimeout(function () {
                    messageDiv.fadeOut(500, function () {
                        $(this).css('top', '20px'); // Restablecer la posición después de ocultar
                    });
                }, 3000);
            }

            $('#btnPostularse').on('click', function () {
                if (tareaId) {
                    $.post('/postular/' + tareaId, function (data) {
                        if (data.success) {
                            // Ocultar el botón de postularse y mostrar el de finalizar
                            $('#btnPostularse').hide();
                            $('#btnFinalizar').show();

                            // Actualiza visualmente el estado en la lista de tareas sin recargar la página
                            const taskItem = $(`.ver-detalles[data-id='${tareaId}']`).closest('.task-item');
                            taskItem.find('.custom-badge')
                                .removeClass('badge-success badge-danger badge-secondary')
                                .addClass('badge-primary')  // Cambia a estado "En Progreso"
                                .text('En Progreso');

                            // Cierra el modal
                            $('#detalleModal').modal('hide');

                            // Mostrar un mensaje de éxito indicando que la tarea está en progreso
                            $('#message').text('Te has postulado exitosamente. La tarea ahora está en progreso.').show();
                        } else {
                            // Muestra el error de manera creativa
                            $('#message').text(data.error).show();
                        }
                    });
                }
            });

            $('#btnFinalizar').on('click', function () {
                if (tareaId) {
                    $.post('/finalizar/' + tareaId, function (data) {
                        if (data.success) {
                            showMessage('La tarea ha sido marcada como finalizada.');

                            // Actualiza visualmente el estado en la lista de tareas sin recargar la página
                            const taskItem = $(`.ver-detalles[data-id='${tareaId}']`).closest('.task-item');
                            taskItem.find('.custom-badge')
                                .removeClass('badge-primary badge-secondary badge-danger')
                                .addClass('badge-success')
                                .text('Finalizada');

                            // Oculta el botón de "Finalizar" y cierra el modal
                            $('#btnFinalizar').hide();
                            $('#detalleModal').modal('hide');

                        } else {
                            showMessage('Error al finalizar la tarea: ' + data.error, true);
                        }
                    });
                }
            });
            // Función para verificar si una tarea ya está calificada
            function isTaskRated(taskId) {
                var currentRating = $('input[name="calificacion-' + taskId + '"]:checked').val();
                return currentRating && currentRating != '0';
            }

            // Manejar el clic en una estrella
            $('.fa-star').on('click', function (e) {
                var taskId = $(this).data('id');
                if (isTaskRated(taskId)) {
                    e.preventDefault();
                    e.stopPropagation();
                    return false; // Previene completamente la interacción
                }
                var rating = $(this).data('rating');
                $('#selectedRating').text(rating);
                $('#confirmCalificationModal').modal('show');
                $('#confirmRatingBtn').data('taskId', taskId).data('rating', rating);
            });

            // Iluminar estrellas al pasar el mouse
            $('.star-rating').on('mouseover', '.fa-star', function () {
                var taskId = $(this).data('id');
                if (isTaskRated(taskId)) {
                    $(this).css('cursor', 'not-allowed'); // Cambia el cursor para indicar que no se puede interactuar
                    return;
                }
                var rating = $(this).data('rating');
                var $stars = $(this).closest('.star-rating').find('.fa-star');

                $stars.each(function () {
                    var starRating = $(this).data('rating');
                    if (starRating <= rating) {
                        $(this).addClass('hover');
                    } else {
                        $(this).removeClass('hover');
                    }
                });
            });

            // Restaurar el estado original al salir del mouse
            $('.star-rating').on('mouseleave', function () {
                var taskId = $(this).find('.fa-star:first').data('id');
                if (isTaskRated(taskId)) {
                    return;
                }
                $(this).find('.fa-star').removeClass('hover').css('cursor', '');
            });

            // Manejar la confirmación de la calificación
            $('#confirmRatingBtn').on('click', function () {
                var taskId = $(this).data('taskId');
                var rating = $(this).data('rating');
                $.ajax({
                    url: '/calificar/' + taskId,
                    method: 'POST',
                    data: { calificacion: rating },
                    success: function (response) {
                        if (response.success) {
                            showMessage(response.message);
                            updateStarRating(taskId, rating);
                            // Después de calificar, asegurarse de que las estrellas no sean clicables
                            $('.fa-star[data-id="' + taskId + '"]').css('cursor', 'not-allowed');
                        } else {
                            showMessage(response.error, true);
                        }
                        $('#confirmCalificationModal').modal('hide');
                    },
                    error: function () {
                        showMessage('Ocurrió un error al calificar la tarea.', true);
                        $('#confirmCalificationModal').modal('hide');
                    }
                });
            });

            // Función para actualizar la interfaz de usuario después de calificar
            function updateStarRating(taskId, rating) {
                var $starRating = $('.star-rating').find('.fa-star[data-id="' + taskId + '"]').parent();
                $starRating.find('.fa-star').removeClass('checked hover').each(function () {
                    var starRating = $(this).data('rating');
                    if (starRating <= rating) {
                        $(this).addClass('checked');
                    }
                });
                $('input[name="calificacion-' + taskId + '"][value="' + rating + '"]').prop('checked', true);
            }

            // Inicialización: marcar estrellas para tareas ya calificadas y deshabilitarlas
            $('.star-rating').each(function () {
                var taskId = $(this).find('.fa-star:first').data('id');
                var currentRating = $('input[name="calificacion-' + taskId + '"]:checked').val();
                if (currentRating && currentRating != '0') {
                    $(this).find('.fa-star')
                        .css('cursor', 'not-allowed') // Cambia el cursor para todas las estrellas de esta calificación
                        .each(function () {
                            var starRating = $(this).data('rating');
                            if (starRating <= currentRating) {
                                $(this).addClass('checked');
                            }
                        });
                }
            });
            function formatDate(dateString) {
                const options = { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false };
                return new Date(dateString).toLocaleDateString('es-ES', options);
            }
        });
    </script>
</body>

</html>